# Dependencies
node_modules/
package-lock.json

# Environment & Secrets
.env
.env.local
*.pem

# Database & Uploads
database.sqlite
database.sqlite-journal
uploads/
videos/

# OS Files
.DS_Store
Thumbs.db
